<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fruitmarket.basket.dao.BasketDAOImpl">
    <select id="getBasketByUser"
            parameterType="com.fruitmarket.user.vo.UserinfoVO">
        SELECT BASKET_ID
             , USER_ID
             , FRUIT_ID
             , QUANTITY
             , PRICE
          FROM BASKET
         WHERE USER_ID = #{userId}
    </select>
</mapper>