<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fruitmarket.trade.dao.TradeDAOImpl">

    <select id="getTradeByUser"
            parameterType="string">
        SELECT TRADE_ID
             , USER_ID
             , FRUIT_ID
             , QUANTITY
             , TRADE_POSITION
             , TO_CHAR(TRADE_DATE, 'YYYY-MM-DD') TRADE_DATE
          FROM TRADE
         WHERE USER_ID = #{_parameter}
    </select>

    <insert id="makeTrade"
            parameterType="com.fruitmarket.trade.vo.TradeVO">
        INSERT INTO TRADE
        VALUES
             ( 'TD-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_TRADE_PK.NEXTVAL, 6, '0')
             , #{userId}
             , #{fruitId}
             , #{quantity}
             , #{price}
             , #{tradePosition}
             , SYSDATE
        )
    </insert>

    <update id="userBuyFruit"
            parameterType="com.fruitmarket.trade.vo.TradeVO">
        UPDATE FRUIT
           SET STOCK = STOCK - #{quantity}
         WHERE FRUIT_ID = #{fruitId}
    </update>

    <update id="userSellFruit"
            parameterType="com.fruitmarket.trade.vo.TradeVO">
        UPDATE FRUIT
           SET STOCK = STOCK + #{quantity}
         WHERE FRUIT_ID = #{fruitId}
    </update>
</mapper>